{% extends 'account/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{{ block.super }}</div>
                <div class="card-body">
                    <h4>Add "{{ video.title }}" to playlists:</h4>
                    <form method="POST">
                        {% csrf_token %}
                        {% for playlist in playlists %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="playlists" id="playlist{{ playlist.id }}" value="{{ playlist.id }}">
                                <label class="form-check-label" for="playlist{{ playlist.id }}">
                                    {{ playlist.title }}
                                </label>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">{{ "Add"|title }}</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}