{% extends 'account/base.html' %}

{% block content %}
<style>
.card {
    border-radius: 10px;
    }
</style>
<div class="container">
    <h1 class="mt-5">My Playlists</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card" style="border-radius: 20px;">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Videos</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for playlist in playlists %}
                                <tr>
                                    <td>{{ playlist.title }}</td>
                                    <td>{{ playlist.videos.count }}</td>
                                    <td>
                                        <a href="{% url 'video_playlist_list' playlist.id %}" class="btn btn-primary btn-sm">View</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="3" class="text-center">You don't have any playlists yet.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-8">
            <a href="{% url 'playlist_create' %}" class="btn btn-primary">Create New Playlist</a>
        </div>
    </div>
</div>
{% endblock %}