{% extends 'account/base.html' %}
{% load custom_filters %}


{% block content %}

<br>
<div class="container">
    <div class="row">
        {% for video in videos %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h5 class="card-title">{{ video.title }}</h5>
                    <p class="card-text">{{ video.user.username }}</p>
                    <video width="100%" controls>
                        <source src="{{ video.video.url }}" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <p class="card-text">
                        <span id="like-count-{{ video.id }}">{{ video.likes }}</span> likes
                    </p>
                    <p class="card-text">{{ video.comments.count }} comments</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" id="like-button" data-video-id="{{ video.id }}"
                                class="btn btn-sm btn-outline-secondary like-button">Like</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                                data-target="#commentModal{{ video.id }}">Comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="commentModal{{ video.id }}" tabindex="-1" role="dialog"
            aria-labelledby="commentModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="commentModalLabel">Write a Comment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="{% url 'add_comment' pk=video.id %}">
                        {% for comment in comments|get_item:video.id %}
                            <div class="comment">
                                <p>{{ comment.comment }}</p>
                                <p class="meta">Posted by {{ comment.user.username }} on {{ comment.created_at }}</p>
                            </div>
                        {% endfor %}

                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea class="form-control" id="comment{{ video.id }}" name="comment"
                                    rows="3"></textarea>
                            </div>
                            <input type="hidden" id="video-id" name="video-id" value="{{ video.id }}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<script>
    $(document).ready(function () {
        $('.like-button').each(function () {
            var videoId = $(this).data('video-id');
            if (localStorage.getItem('liked_' + videoId) === 'true') {
                $(this).prop('disabled', true);
                $(this).removeClass('btn-outline-secondary').addClass('btn-danger');
            }
        });

        $('.like-button').click(function () {
            var button = $(this);
            var videoId = button.data('video-id');
            $.ajax({
                type: 'POST',
                url: '{% url "like_video" %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'video_id': videoId
                },
                success: function (data) {
                    button.toggleClass('btn-outline-secondary btn-danger');
                    var countSpan = $('#like-count-' + videoId);
                    countSpan.text(parseInt(countSpan.text()) + 1);
                    button.prop('disabled', true);
                    localStorage.setItem('liked_' + videoId, 'true');
                },
                error: function (xhr, status, error) {
                    console.error(xhr);
                }
            });
        });
    });
</script>
    <style>
    .comments-section {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
    }

    .comment {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .meta {
        font-size: 0.8rem;
        color: #999;
    }

</style>
{% endblock %}